<app-header></app-header>

<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div class="about-section">
  <h1>About Us Page</h1>
  <h2>POURQUOI FAIRE APPEL À UN COACH SPORTIF ?</h2>
  <p>Faites-vous partie de ces personnes qui, déjà à l'école, n'aimaient pas le sport ? Ou de celles qui remettent toujours au lendemain leurs bonnes résolutions ? Ou encore de ces femmes qui, une fois la sédentarité, les kilos ou la ménopause bien installés, ne savent plus comment se remettre à la pratique d'une activité sportive ? Les bonnes raisons de faire appel à un coach sportif ne manquent pas.</p>
 
<p>Qui ne s'est jamais dit << Promis, demain je vais à la salle de sport ! >>, tout en continuant de larver devant sa série TV préférée ? Pour les non-sportifs ou les sportifs les moins motivés, le coach sportif, autrefois réservé aux athlètes de haut niveau, stars et personnes à hauts revenus, sera votre allié dans votre quête de forme et de bien être, quel que soit votre niveau de pratique sportive ou votre budget.</p> 
  <p>Les tarifs sont variables selon que vous êtes en Province ou à Paris. Comptez de 30 à 100 € de l'heure, avec des avantages non négligeables :
    Plus besoin de jongler entre vie professionnelle et votre vie personnelle, car votre coach sportif vient à votre domicile, à l'heure qu'il vous convient, vous gagnez du temps et de la sérénité car vous n'avez plus à courir dans tous les sens.
    Adaptation aux changements de dernières minutes ou aux petits bobos du moment
    Pas d'engagement pendant 1 an contrairement aux salles de sport.
    Possibilité de << partager >> la séance avec d'autres personnes (jusqu'à 3 ou 4) pour réduire le coût de la séance.
    Les tarifs d'un coach perso ne sont plus un frein : si votre coach sportif bénéficie de l'agrément des services à la personne, cela vous permet de déduire 50% du coût de la prestation lors de votre déclaration de revenus.
    En résumé, choisir un coach sportif c'est l'assurance d'un bon coup de boost, d'un suivi régulier pour atteindre ses objectifs de façon progressive et en toute sécurité..</p>
  
</div>

<h2 style="text-align:center">Our Team</h2>


  <div class="column">
    <div class="card">
      <img src="/assets/img/pdp.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Jmai Hatem</h2>
        <p class="title">CEO & Founder</p>
        <p>Je suis un etudiant de iset charguia .</p>
        <p>Hatemjmai.1920@gmail.com</p>
        <p><a class="navbar-item" [routerLink]="['/contact']"><button class="button" >Contact</button></a></p>
      </div>
    </div>
  </div>
  
  


</body>
</html>

