
  <nav class="navbar navbar-fixed-top navbar-toggleable-sm navbar navbar-light mb-3" style="background-color: #e3f2fd;"  >
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
    data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="flex-row d-flex">
      <a class="navbar-brand mb-1" [routerLink]="['/dclient']">Prive Coaching</a>
      <button type="button" class="hidden-md-up navbar-toggler" data-toggle="offcanvas" 
      title="Toggle responsive left sidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
      <ul class="navbar-nav">
      
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button type="button" class="btn btn-light" [routerLink]="['/chat']">Chat Live</button>
        </li>
      </ul>
    </div> 
  </nav>
  <div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
        <ul class="nav flex-column pl-1">
          
          
          <li class="nav-item"><a class="nav-link" [routerLink]="['/profile']" >Home</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/updatecoach']" >Update Profile</a></li>
          
          <li class="nav-item"><a class="nav-link" href="">Logout</a></li>
        </ul>

      </div>
     
        
      <div class="col-md-9 col-lg-10 main">

      
        <h1 class="display-2 hidden-xs-down" >
                Welcome to your Dashboard {{ name }}
            </h1>
           
            
          
      


  



