<app-header></app-header>
<form [formGroup]="registerForm"  (ngSubmit)="registerForm.valid" novalidate></form>
<div class="example-container" >
  
  
    <div class="card">
      <div class="container">
        <h3 class="title">Client Form</h3>
        <mat-form-field>
    <input matInput placeholder="first Name" required [(ngModel)]="user.nom">
  </mat-form-field>

  <mat-form-field>  
    <input matInput placeholder="Last Name" required  [(ngModel)]="user.prenom">
  </mat-form-field>
      </div>
      
      <div class="container">


  <mat-form-field>
    <input matInput placeholder="User name" required [(ngModel)]="user.username">
  </mat-form-field>
  
  <mat-form-field>
    <mat-select placeholder="Gendre" required [(ngModel)]="user.genre">
      <mat-option *ngFor="let genre of gendre" [value]="genre.viewValue">
        {{genre.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

      </div>
      
      <div class="container">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" required [(ngModel)]="user.date_naiss">
    <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Cin" type="number" class="example-left-align" required [(ngModel)]="user.cin">
  </mat-form-field>

      </div>

      
      <div class="container">

  <mat-form-field>
    <input matInput placeholder="Enter your email" [formControl]="email" required [(ngModel)]="user.adresse_mail">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" 
    [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>


      </div>

      <div class="container">
  <mat-form-field>
  
    <input matInput placeholder="Adresse" required [(ngModel)]="user.adresse">
  </mat-form-field>
  

    
 
</div>
<div >
<p> <button mat-raised-button class="button"  type="submit" (click)="add()">SIGN UP</button></p>
</div>

    </div>
  </div>
 
<app-footer></app-footer>
